In [1]:
성동구 = [1120010100,1120010200,1120010300,1120010400,1120010500,1120010600,1120010700,1120010800,1120010900,1120011000,1120011100,1120011200,1120011300,1120011400,1120011500,1120011800,1120012200]
seongdong = ['상왕십리동','하왕십리동','홍익동','도선동','마장동','사근동','행당동','응봉동','금호동1가','금호동2가','금호동3가','금호동4가','옥수동','성수동1가','성수동2가','송정동','용답동']

In [2]:
import requests #필요한 모듈들을 import 합니다.
from bs4 import BeautifulSoup
import pandas as pd

names = []
areas = []
prices = []
area_per_price = []
for area_code in 성동구:
    
    url = 'https://hogangnono.com/region/{}'.format(area_code) #url을 area_code를 이용하여 반복문으로 한번에 모두 가져옵니다.
    source_code = requests.get(url)
    plain_text = source_code.text
    soup = BeautifulSoup(plain_text)
    name = []
    for pages in soup.findAll('li'):    # 아파트 이름을 가져옵니다
        for link in pages('h5',{'class':'name'}):
            data = link.text        
            name.append(data)
    area = []    
    for pages in soup.findAll('li'):    # 아프트 면적을 가져옵니다
        for link in pages('span',{'class':'area'}):
            data = link.text        
            area.append(data)
    price = []
    for pages in soup.findAll('li'):    #아파트 가겨을 가져옵니다
        for link in pages('span',{'class':'price'}):
            data = link.text        
            price.append(data)
            
    index_dash = [i for i, n in enumerate(price) if n == '-'] # 아파트 가격이 '-' 로 나와있는 아파트들의 index를 찾아냅니다
    for i in index_dash[::-1]: # '-'로 나와있는 아파트를 리스트에서 지웁니다
        del(name[i])
        del(area[i])
        del(price[i])
    
    new_name = [] # 아파트 이름 앞에 동 이름을 제거합니다
    for k in name:
        k_idx = k.find(' ')
        k = k[k_idx+1:]
        new_name.append(k)
        
    
    int_area = []
    for l in area: # 아파트 면적을 integer로 바꿔줍니다
        per = l[:-1]
        int_area.append(int(per))
    
    new_price = []
    for j in price: # 아파트 가격을 integer 로 바꿔줍니다

        if '억'in j:
            if len(j)>4:
                y_idx = j.find('억')
                pri = j[0:y_idx]
                pri1 = j[y_idx+1:]
                pri2 = pri1.replace(',','')
                j = ((int(pri)*10000)+(int(pri2)))*10000
                new_price.append(j)
            else:
                j = j.replace('억','')
                j = int(j)*100000000
                new_price.append(j)

        else:
            j = j.replace(',','')
            j = int(j)*10000
            new_price.append(j)
            
    per_price = [] # 평당 가격을 계산합니다
    for a in range(len(new_price)):
        perp = new_price[a]/int_area[a]
        per_price.append(round(perp))
        
    
    
    names.append(new_name) # lists in lists 로 저장합니다
    areas.append(int_area)
    prices.append(new_price)
    area_per_price.append(per_price)
    
amean = []

for i in range(len(seongdong)): # 동별로 평당가격의 mean을 구해줍니다
    if len(area_per_price[i])>0:
        mean = sum(area_per_price[i])/len(area_per_price[i])
        amean.append(round(mean))
        
    else:
        amean.append(0)

kk = {'dong':성동구,'per price':amean}
df = pd.DataFrame(kk,index = seongdong)
df

             dong  per price
상왕십리동  1120010100   25045454
하왕십리동  1120010200   23717673
홍익동    1120010300   19709289
도선동    1120010400   18842691
마장동    1120010500   18393890
사근동    1120010600   17853010
행당동    1120010700   26846107
응봉동    1120010800   26474953
금호동1가  1120010900   21594946
금호동2가  1120011000   39304798
금호동3가  1120011100   30543705
금호동4가  1120011200   31285631
옥수동    1120011300   33060178
성수동1가  1120011400   29655110
성수동2가  1120011500   28363811
송정동    1120011800   17543188
용답동    1120012200   10864510

In [3]:
df.to_csv('seongdonggu.csv')